
case $OP in
  stop )
    ##;
    nifi.sh stop;
    ;;
  start )
    ##;
    nifi.sh start;
    ;;
  status )
    ##;
    nifi.sh status;
    ;;
  install )
    ##;
    nifi.sh install;
    ;;
  run )
    ##;
    nifi.sh run;
    ;;
esac